<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>라디유! | FreeVue Toy</title>

    <style>
        @font-face {
            font-family: 'GowunDodum-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * { margin: 0; padding: 0; box-sizing: border-box; }
        textarea { border: 0; display: block; width: 100%; font-family: 'GowunDodum-Regular', sans-serif; }
        textarea:focus { outline: 0; }
        button { background: transparent; border: 0; cursor: pointer; font-family: 'GowunDodum-Regular', sans-serif; }
        button:focus { outline: 0; }
        p:focus { outline: 0; }
        html, body, #app { height: 100%; color: #3f3f41; font-size: 14px; font-weight: 400; font-family: 'GowunDodum-Regular', sans-serif; }

        .container { display: flex; flex-direction: column; height: 100%; max-width: 1200px; margin: 0 auto; gap: 20px; padding: 20px 0; }
        .container .logo { display: block; width: 200px; margin: 0 auto; }
        .container .content { display: flex; flex: 1; gap: 20px; }
        .container .content .box { width: 50%; padding: 20px; border: 1px solid #5050a9; border-radius: 20px; }
        .container .content .box.editor-area { display: flex; flex-direction: column; }
        .container .content .box.editor-area .editor { flex: 1; font-size: 1.2rem; line-height: 2; height: 100%; }
        .container .content .box.editor-area .editor p { padding-left: 25px; }
        .container .content .box.editor-area .editor p:first-of-type,
        .container .content .box.editor-area .editor p:last-of-type { padding-left: 0; }
        .container .content .box.editor-area .editor p .blue { background-color: #5050a9; color: #fff; padding: 0 5px; }
        .container .button { display: block; margin: 0 auto; width: 80px; font-size: 1.2rem; height: 40px; }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <img class="logo" src="https://w.namu.la/s/ad9c8d3717c499539b97476d2ef0460dad01707f278b44584b9f2ed23d80a7e1eed6114797fd6aa4e0fa798b15d4b3a317d8fd1e7faf3817a678e6e8f4cf2e24513ddefdecbc79734f46471a3af5268c" alt="">
        <div class="content">
            <div class="box editor-area">
                <div class="editor">
                    <p>가자!</p>
                    <p class="row" contenteditable="true"></p>
                    <p>알게모에요</p>
                </div>
            </div>
            <div class="box result">

            </div>
        </div>
        <button class="button">실행</button>
    </div>
</div>

<script>
    const btn = document.querySelector('.button')
    const editor = document.querySelector('.editor .row')
    const result = document.querySelector('.result')

    btn.addEventListener('click', async (event) => {
      event.preventDefault()

      const response = await fetch(
        '/run',
        {
          method: 'post',
          body: editor.innerText
        }
      )
      const { data } = await response.json()

      result.innerHTML = data
        .trim()
        .split(/\\n/)
        .map((item) => `<p>${item}</p>`)
        .join('')
    })
</script>
</body>
</html>
